.itemWrapper {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  width: 272px;
  height: 208px;
}

.price {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.count {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #4C4CFF;
}