.burgerConstructorWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: calc(100vh - 244px);
  width: 600px;
}

.totalWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-height: 64px;
  align-self: flex-end;
}

.total {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.innerWrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  gap: 10px;
}

.innerWrapper::-webkit-scrollbar {
  width: 8px;
}

.innerWrapper::-webkit-scrollbar-track {
  background-color: #2F2F37;
}

.innerWrapper::-webkit-scrollbar-thumb {
  /*border-radius: 100px;*/
  background-color: #8585AD;
  height: 90%;
}  

.bunConstructor {
  margin-left: 48px;
}

.dropTarget {
  height: 300px; 
  border: 2px solid grey;
  color: grey;
  border-radius: 25px; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px; 
  width: 100%;
}

.buttonWrapper {
  min-width: 215px;
}