.burgerConstructorWrapper {
  display: flex;
  flex-direction: column;
  /*gap: 10px;*/
  max-height: calc(100vh - 244px);
  width: 512px;
}

.totalWrapper {
  display: flex;
  flex-flow: row nowrap;
  max-height: 64px;
}

.total {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.innerWrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  gap: 10px;
}

.innerWrapper::-webkit-scrollbar {
  width: 8px;
}

.innerWrapper::-webkit-scrollbar-track {
  background-color: #2F2F37;
}

.innerWrapper::-webkit-scrollbar-thumb {
  /*border-radius: 100px;*/
  background-color: #8585AD;
  height: 90%;
}