header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
  height: 88px;
  min-width: 960px;
  background-color: #1C1C21;
  color: #8585AD;
}

nav {
  margin: auto;
  height: 100%;
  width: 100%;
  max-width: 1240px;
}

.link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: #8585AD;
  text-decoration: none;
  font-family: JetBrains Mono;
  font-size: 16px;
  line-height: 24px;

}

.linkActive {
  composes: link;
  color: #F2F2F3 !important;
}

.link:visited {
  color: #8585AD;
}

.headerUl {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-items: flex-start;
}

.listElement{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  list-style-type: none;
  padding: 0 20px;
}

.listElement:first-child {
  padding-left: 0;
}

.listElement:last-child {
  padding-right: 0;
}

.active {
  color: #F2F2F3;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  /*right: auto;*/
}

.profile {
  position: absolute;
  right: 0;
}